body {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 14px;
  color: #171717;
  background-color: #F9F9F9;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 80px;
}
.note{
margin-bottom: 24px;
}
span.red {
  color: #d83933;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.title_margin{
    margin: 32px 0;
}
.info_title{
    margin-bottom: 32px;
}
.row{
display: flex;
margin-bottom: 21px;
}
.row div:nth-child(2){
    margin-left: 16px;
}
.item{
width: 50%;
}
.label{
    display: inline-block;
margin-bottom: 8px;
font-weight: 500;
font-size: 16px;
}
.input{
font-size: 16px;
height: 40px;
padding-left: 10px;
padding-right: 10px;
box-sizing: border-box;
width: 100%;
border: 1px solid #ADADAD;
border-radius: 4px;
}
.date{
font-family: 'Public Sans';
font-weight: 400;
font-size: 16px;
color: #747474;
}
#app_registr, #owner{
    color: #0050D8;
}
.drop-down{
    background: url(../img/drop-down.svg) no-repeat;
    background-position: center right 10px;
}
input.input[type="checkbox"]{
    height: 24px;
    width: 24px;
    margin: 0;
    display: inline;
}
.check{
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}
.check-label{
    margin: 0;
    margin-left: 8px;
    margin-bottom: 2px;
    font-weight: 400;
}
input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;

}
.input_checkbox+label {
    display: inline-flex;
    align-items: center;
  }
  .input_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    background-color: white;
  }
.input_checkbox:checked+label::before{
    border: none;
    background: url(../img/check.svg);
}

.line{
    width: 100%;
    height: 11px;
    border-bottom: 1px solid #D1D1D1;
}
input[type="search"]{
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
}
.button{
font-size: 16px;
font-weight: 700;
text-align: center;
padding: 9px 16px;
box-sizing: border-box;
margin-top: 16px;
color: white;
background-color: #0050D8;
border: none;
border-radius: 4px;
}
.button_container{
    display: flex;
    justify-content: end;
}