:root {
    font-size: 10px;
}
body {
    padding: 0 5%;
    margin: 0;
    font-family: 'Work Sans';
    font-size: 1.4rem;
}
ul {
    margin: 0;
    padding-left: 2.5rem;
}
section{
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr;
    gap: 1.5rem 2.2rem;
    background-color: #FFB084;
    padding: 2.7rem 3.8rem;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    max-width: 1240px;
}
section > div {
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;

}
.profile img{
    margin: 1.7rem 0;
}
h1 {
font-size: 2.4rem;
font-weight: 700;
margin: 0;
text-align: center;
}
.row {
    display: flex;
    margin: 0;
}
.row div:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
}
.subtitle {
    font-weight: 600;
}
.profile_info{
    align-self: flex-start;
}
.profile_info div{
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}
.profile_info div:last-child{
    margin-bottom: 0;
}

.card div:first-child{
font-weight: 700;
margin-bottom: 7px;
}

.card, .profile, .quote {
    box-shadow: .8rem .8rem 0 #000;
}
.profile{
    grid-column: 1;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-weight: 700;
    grid-column: 1;
    grid-row: 5;
}
.bio{
grid-column: 2/4;
grid-row: 1;
}
.goals{
    grid-column: 2;
    grid-row: 2;
    box-shadow: .8rem .8rem 0 #29A71E;
}
.goals div:first-child{
    color: #29A71E;
}

.dream{
    grid-column: 2;
    grid-row: 3/6;
    box-shadow: .8rem .8rem 0 #3675B0;
}
.dream div:first-child{
    color: #3675B0;
}

.frustrations{
    grid-column: 3;
    grid-row: 2/4;
    box-shadow: .8rem .8rem 0 #E13535;
}
.frustrations div:first-child{
    color: #E13535;
}
.personality{
    grid-column: 3;
    grid-row: 4/6;
}

@media screen and (max-width: 760px) {
    section {
        display: block;
    }
    section > div {
        margin-bottom: 1.5rem;
    }
}