body {
  background-color: #fbe4ff;
  font-family: "PT Sans";
  font-size: 22px;
}
.main_content{
  min-height: 100%;
  display: flex;
  flex-direction: column;

}
header {
  background-color: #243b93;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 85%;
  margin: 0px auto;
}
.menu {
  display: flex;
  list-style-type: none;
  width: 65%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

}
.menu li {
  text-align: center;
  width: 170px;
  padding: 5px;
}
.menu_link{
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-decoration: none;
}
.language {
  display: flex;
  align-items: center;
}
.language div:nth-child(2) {
  font-size: 28px;
  color: white;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.content {
  flex: 1 1 auto;
}
.title {
  padding: 15px 0;
  font-size: 44px;
  font-style: italic;
  line-height: 57px;
  margin-bottom: 27px;
}
.title_book_house{
  background-color: #bff0ff;
  color: #202846;
}
.choose {
  background-color: white;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
}
.choose__text {
  color: #0000009c;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}
.arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}
.houses{
  display: flex;
  flex-direction: column;
}
.card {
  position: relative;
  display: flex;
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
  margin-bottom: 42px;
}
.card:hover {
  background: #2CBDEB;
  box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.card:hover .star path {
    fill: #FFF500;

}
.card:hover .button {
  background-color: #EF075B;
}
.card > img {
  height: 100%;
  padding: 31px 30px 21px 52px;
}
.card__description {
  display: flex;
  flex-direction: column;
  margin: 14px 53px 21px 0;
}
.card__description div:first-child {
  margin-bottom: 14px;
}
.card_title{
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 47px;
  border-bottom: 3px solid white;
}
.card__description div:nth-child(2) {
  height: 100%;
  line-height: 28.47px;
  background-color: #edfbff;
  padding: 10px 16px;
  box-sizing: border-box;
}
.button {
  position: absolute;
  bottom: 11px;
  right: -33px;
font-size: 24px;
line-height: 31px;
text-align: center;
background-color: #243B93;
color: white;
padding: 8px 35px;
border-radius: 50px;

}
.star {
  position: absolute;
  top: 6px;
  right: 6px;
}
.title_user_profile{
  background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
  color: #243B93;
}
.title_contacts{
  background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
  color: #243B93;
}
.user_card{
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
  padding: 50px 80px;
  box-sizing: border-box;
  
}
.button_avatar{
font-size: 24px;
line-height: 31px;
text-align: center;
background-color: #243B93;
color: white;
padding: 8px 0;
width: 250px;
border-radius: 50px;
}
.button_avatar:hover{
background-color: #EF075B;
}
.user_info{
  width: 100%;
}
.user_info div{
  line-height: 190%;
}
.avatar{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  
}
.avatar div:nth-child(1){
  margin-bottom: 30px;
}
.avatar div:nth-child(2){
  margin-bottom: 20px;
}


.avatar div{
}
.data{
font-weight: 400;
}

.button_exit{
font-size: 24px;
line-height: 31px;
text-align: center;
color: white;
background: #243b93;
border-radius: 50px;
width: 174px;
margin: 19px auto 56px;
padding: 10px;
}
.button_exit:hover{
  background-color: #EF075B;
}
.container_contacts{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 25px;
}
.contacts{
display: flex;
flex-wrap: wrap;
width: 45%;
align-items: flex-start;
}
.contacts__item{
font-size: 32px;
line-height: 41px;
padding: 0px 50px 20px 0;
}
.contacts__item div:nth-child(2){
  font-size: 30px;
  border-top: 3px solid #202846;
}

.map{
  max-width: 500px;
  height: 290px;
  width: 100%;
  overflow: hidden;
  border: 3px solid #243B93;
  border-radius: 35px;
}
.map iframe{
  width: 100%;
  height: 100%;
}

footer{
  height: 65px;
  background-color: #243b93;
  
}
.footer_content{
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.16em;
color: white;
padding: 20px 0;
}
.anchor{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 10%;
  bottom: 10%;
  background: #300C6A4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor:hover{
  background: #243b93;
}