:root {
  --bg-gray: #212529;
  --card-gray: #292b2e;
  --skills-gray: #383e45;
  --yellow: #ffb742;
  --white: #ffffff;
}
body {
  background: var(--bg-gray);
  font-family: Inter;
}
.wrap {
  margin: 0 20px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 48px 108px 48px;
}
.menu {
  list-style-type: none;
  display: flex;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 0;
}
.menu li a {
  padding-right: 12px;
  color: white;
  text-decoration: none;
}
.hire_me_button {
  background: var(--yellow);
  padding: 12px 26px;
  box-sizing: border-box;
  border-radius: 50px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--bg-gray);
}

.hi {
  text-align: center;
  color: var(--white);
  margin-bottom: 136px;
}
.hi__name {
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}
.hi__name_highlight {
  text-decoration: underline;
  color: var(--yellow);
}
.hi__profession {
  font-size: 48px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 25px;
}
.hi__description {
  font-size: 24px;
  line-height: 51px;
  margin-bottom: 22px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}
.card {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--card-gray);
  padding: 25px 30px;
  box-sizing: border-box;
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}
.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}
.card:hover .card__description {
  color: var(--bg-gray);
}
.card__description > div:first-child {
  font-size: 32px;
  line-height: 40px;
  color: var(--yellow);
}
.card__description > div:nth-child(2) {
  font-size: 16px;
  line-height: 193%;
}
.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  flex: 0 0 auto;
  background: #e9e9e9;
  border-radius: 50px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--white);
  margin-bottom: 20px;
}
.about_info {
  max-width: 700px;
  padding-left: 20px;
}
.section_subtitle {
  display: inline-block;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--yellow);
  padding: 6px 25px;
  box-sizing: border-box;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.08);
}
.section_title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.25px;

  color: var(--white);
}
.section_text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 55px;
  color: var(--white);
}
.title_margins {
  margin-top: 10px;
  margin-bottom: 30px;
}
.skills {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 136px;
}
.skills_info {
  max-width: 700px;
}
table {
  flex: 0 0 auto;
  text-align: center;
  padding-left: 20px;
}
table td {
  width: 80px;
  height: 80px;
  background-color: var(--skills-gray);
  border-radius: 10px;
  border: 5px solid var(--bg-gray);
}
table td:hover {
  background: #ffb74280;
  border: 1px solid black;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 136px;
}
.works__menu {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--white);
  margin-bottom: 48px;
  margin-top: 30px;
}
.works__menu a {
  color: var(--white);
  text-decoration: none;
  padding: 5px 20px;
  margin-right: 24px;
  border-radius: 3px;
}
.works__menu a:hover {
  background: var(--yellow);
  color: var(--bg-gray);
}

.works__portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.works__portfolio_block {
  display: flex;
  flex-direction: column;
}
.works__portfolio img {
  padding: 15px;
}
.reviews {
  text-align: center;
  margin-bottom: 250px;
}
.reviews_title_margin {
  margin-bottom: 90px;
}
.reviews__cards {
  display: flex;
  justify-content: space-between;
}
.reviews__card {
  background: var(--white);
  border-radius: 8px;
  width: 32%;
  padding: 50px 33px;
  box-sizing: border-box;
  text-align: left;
}
.reviews_stars {
  margin-bottom: 22px;
}
.reviews__text {
  margin-bottom: 36px;
}
.reviewer {
  display: flex;
  align-items: center;
}
.reviewer_name {
  padding-left: 24px;
}
.reviewer_name div:first-child {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: -10px;
}
.reviewer_name div:nth-child(2) {
  font-family: Poppins;
  font-size: 16px;
  line-height: 34px;
}
footer {
  background: #1c1c1c;
  padding: 148px 20px 90px;
}
.footer_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.footer__name {
}
.footer__name div:first-child {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--yellow);
}
.footer__name div:nth-child(2) {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: var(--white);
}
.footer_links {
  list-style-type: none;
  margin: 0;
  max-width: 320px;
}
.footer_links li:first-child {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
  margin-bottom: 13px;
}
.footer_links li a {
  list-style-type: none;
  text-decoration: none;
  color: #7b7b7b;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}
.footer_links li a:hover {
  color: var(--yellow);
}
