@import url(./animation.css);
:root {
  --black: #000;
  --white: #fff;
  font-size: 10px;
}
body {
  font-family: Rosario;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
  color: var(--white);
}
header {
  background: black;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1620px;
  margin: 0 auto;
}
.logo_a {
  background-color: white;
  align-self: stretch;
}
.logo {
  height: 100%;
}

.nav {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  font-size: 3.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 70%;
}
.nav li {
  padding-right: 2rem;
  box-sizing: border-box;
}

/* screen1 */

.screen {
  min-height: 90vh;
  width: 95%;
  max-width: 1620px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.gallery_box {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#gallery img {
  width: 100%;
}
.photo_center_left img:first-child {
  margin-bottom: 2rem;
}
.photo_center_right img:first-child {
  margin-bottom: 2rem;
}
.photo {
  width: 24%;
}
.photo_left {
  animation: photo_left 1s forwards;
  transform: translateX(-100vh);
}
.photo_right {
  animation: photo_right 1s forwards;
  transform: translateX(100vh);
}
.photo_center_left {
  animation: photo_center_left 1s forwards 1s;
  transform: translateX(-120vh);
}
.photo_center_right {
  animation: photo_center_right 1s forwards 1s;
  transform: translateX(120vh);
}

/* screen2 */
#services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.services_circles {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 90vh;
}
.screen_services_right {
  width: 40%;
}
.services_circles img {
  width: 200px;
}
.screen_services_right img {
  width: 100%;
}
.circles_item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.service_name {
  font-family: Rosario;
  font-size: 4.8rem;
  font-style: italic;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
}
.circle1 {
  top: 0;
  left: 0;
  animation: circle1 8s linear infinite;
}
.circle2 {
  top: 0;
  left: 50%;
  animation: circle2 8s linear infinite;
}
.circle3 {
  top: 50%;
  left: 0;
  animation: circle3 8s linear infinite;
}
.circle4 {
  top: 50%;
  left: 50%;
  animation: circle4 8s linear infinite;
}
/* screen3 */
.team_title {
  font-size: 9.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.team_photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#team img {
  /* width: 100%; */
  height: 100%;
}
#team .photos_item {
  position: relative;
  width: 23%;
  border-radius: 30px;
  /* height: auto; */
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.team_photos:hover > div {
  filter: brightness(0.5);
}
.team_photos > div:hover {
  filter: none;
}
#team .team_name {
  font-family: Volkhov;
  font-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -60px;
  width: 100%;
  color: white;
  background: #a3530ab2;
  height: 0;
  overflow: hidden;
  transition: height 1s;
  transition: bottom 1s;
  padding: 2.5rem 0;
}
#team .team_photos > div:hover .team_name {
  height: 10%;
  bottom: 0;
}

/* contact */
.contact_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#contact .title {
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  width: 100%;
}
.form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

form {
  background-color: #e5e5e5;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
form input,
textarea {
  border: none;
  font-family: Rosario;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.cont_date {
  display: flex;
  justify-content: space-between;
}
.cont_date input {
  height: 80px;
  width: 48%;
}
textarea {
  display: block;
  height: 210px;
  width: 100%;
  margin-top: 45px;
  resize: none;
}
.map {
  width: 30%;
}
.map iframe {
  width: 100%;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1620px;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
footer .subtitle {
  font-weight: 600;
  font-style: normal;
}
footer ul:nth-child(3) {
  color: #e5e5e5;
}
.social_media {
  text-align: left;
}
footer img {
  width: 20px;
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 7px;

  }
  .photo_right {
    order: -1;
  }
  .photo_left {
    order: -2;
  }
  .photo_left,
  .photo_right, .photo_center_left, .photo_center_right {
    width: 48%;
  }
  #services .screen_services_right {
    order: -1;
    width: 100%;
  }
  .services_circles {
    width: 100%;
  }
  #team .photos_item{
    width: 49%;
  }
  .team1, .team2 {
    margin-bottom: 2rem;
  }
  .form {
    width: 100%;
  }
  .map {
    width: 100%;
    order: -1;
  }
}


@media screen and (max-width: 798px) {
  :root {
    font-size: 6px;

  }
  .nav{
    display: none;
  }
  .photo {
    margin-bottom: 2rem;
  }
  .photo_center_left, .photo_center_right {
    animation: none;
    transform: none;
  }
  .photo_center_left img:nth-child(1){
    /* animation: photo_center_left 1s forwards 1s; */
  }

  #services .screen_services_right {
    display: none;
  }
  .photo {
    min-width: 60%;
    max-height: 100vh;
    margin: 0 auto;
  }
  .photo_center_left img:first-child {
    animation: photo_center_left 1s forwards;
    transform: translateX(-100vw);
  }
  .photo_center_left img:last-child {
    animation: photo_center_right 1s forwards;
    transform: translateX(100vw);
  }
  .photo_center_right img:first-child {
    animation: photo_center_left 1s forwards;
    transform: translateX(-100vw);
  }
  .photo_center_right img:last-child {
    animation: photo_center_right 1s forwards;
    transform: translateX(100vw);
  }
}

@media screen and (max-width: px) {
}
