@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
body {
  font-family: "Inter";
  width: 100%;
}
.header {
  min-height: 70px;
  box-sizing: border-box;
  padding: 20px 0;
}
.ukraine {
  font-family: "M PLUS 1";
  font-size: 48px;
  color: #3e45e8;
  text-align: center;
}
.header_span {
  color: #e8c23e;
}

.block {
  height: 803px;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 195px;
  padding-left: 80px;
  box-sizing: border-box;
}
.content {
  background: url(../img/flag.png);
  background-repeat: no-repeat;
  height: 272px;
  font-size: 44px;
  line-height: 140%;
  font-weight: bold;
  color: white;
  width: 75%;
  box-sizing: border-box;
  padding-left: 38px;
  padding-top: 15px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 70px 0;
}
.line {
  width: 402px;
  height: 25px;
  border-bottom: 5px solid #3e45e8;
}
.main {
  padding: 0 80px;
}
.card {
  width: 30%;
  height: 480px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0px 4px 57px 3px #00000040;
  border-radius: 30px;
}
.card_margin {
  margin: 0 4.5%;
}
.card___img {
  width: 100%;
}
.card__name {
  font-weight: 700;
  font-size: 24px;
  color: #1e8df2;
  padding: 10px 20px;
  box-sizing: border-box;
}
.card__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #e8c23e;
  padding: 10px 20px;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.line_center {
  margin: auto;
}
.map_img {
  display: block;
  margin: auto;
  padding: 40px 0;
}
.button {
  background-color: #2a61f0;
  color: white;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding: 15px;
  width: 590px;
  margin: 20px auto;
  box-sizing: border-box;
}
footer {
  background: #2f4a4b;
  height: 320px;
  text-align: center;
}
.contacts {
  display: block;
  font-family: "Marcellus SC";
  font-size: 36px;
  color: #A89D9D;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding-top: 30px;
  box-sizing: border-box;
}
.media{
    margin: auto;
}
.media__item{
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: auto;
    padding: 10px;
}
.media_img{
    width: 100%;
}